<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="assets/images/TamilNadu.png" style="width: 250px;
    margin-top: 25px;margin-left: -1500px;"/></a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
       <h1 style="color:white;margin-right:50px;font-size: 200px;margin-top: 50px;margin-left: 151px;margin-bottom:250px">Quantity </h1>
      </ul>
    </div>
    </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
   <br>
   <br>
   <br>
   <br>
<div>
<body background="assets/images/download.jpeg;background-repeat:initial">
 <h3 style="text-align: center;color:orange;margin-right:50px;font-size: 95px;margin-top: 50px;margin-left: 15px;margin-bottom:25px">Central</h3>

<table style="width:50%;text-align: center;margin-left:1177px; 
">
  <tr>
    <th style="background-color:MediumSeaGreen;color:White;text-align: center; 
">Quantity</th>
    <th style="background-color:MediumSeaGreen;color:white;text-align: center; 
">Wheat</th>
    <th style="background-color:MediumSeaGreen;color:white;text-align: center;">Rice</th>
    <th style="background-color:MediumSeaGreen;color:white;text-align: center;">Kerosene</th>
  </tr>
  <tr>
    <td style="background-color:MediumSeaGreen;color:white;text-align: center;">Total Stock</td>
    <td>1000Kg</td>
    <td>1000Kg</td>
    <td>1000Lit</td>
  </tr>
  <tr>
    <td style="background-color:MediumSeaGreen;color:white;text-align: center;">Stock in hand</td>
    <td>100Kg</td>
    <td>100Kg</td>
    <td>50Lit</td>
  </tr>
</table>
 {{!-- <h3 style="text-align: center;color:orange;margin-right:50px;font-size: 95px;margin-top: 50px;margin-left: 15px;margin-bottom:25px">State</h3>
<table style="width:50%;margin-left:1177px">
  <tr>
    <th style="background-color:MediumSeaGreen;color:white;text-align: center;">Quantity</th>
    <th style="background-color:MediumSeaGreen;color:white;text-align: center;">Wheat</th>
    <th style="background-color:MediumSeaGreen;color:white;text-align: center;">Rice</th>
    <th style="background-color:MediumSeaGreen;color:white;text-align: center;">Kerosene</th>
  </tr>
  <tr>
    <td style="background-color:MediumSeaGreen;color:white;text-align: center;">Total Stock</td>
    <td>100Kg</td>
    <td>100Kg</td>
    <td>100Lit</td>
  </tr>
  <tr>
    <td style="background-color:MediumSeaGreen;color:white;text-align: center;">Stock in hand</td>
    <td>50Kg</td>
    <td>50Kg</td>
    <td>25Lit</td>
  </tr>
  </table>
  <h3 style="text-align: center;color:orange;margin-right:50px;font-size: 95px;margin-top: 50px;margin-left: 15px;margin-bottom:25px">Ration Shop</h3>
<table style="align:left;width:50%;;margin-left:1177px">
  <tr>
    <th style="background-color:MediumSeaGreen;color:white;text-align: center;">Quantity</th>
    <th style="background-color:MediumSeaGreen;color:white;text-align: center;">Wheat</th>
    <th style="background-color:MediumSeaGreen;color:white;text-align: center;">Rice</th>
    <th style="background-color:MediumSeaGreen;color:white;text-align: center;">Kerosene</th>
  </tr>
  <tr>
    <td style="background-color:MediumSeaGreen;color:white;text-align: center;">Total Stock</td>
    <td>50Kg</td>
    <td>50Kg</td>
    <td>50Lit</td>
  </tr>
  <tr>
    <td style="background-color:MediumSeaGreen;color:white;text-align: center;">Stock in hand</td>
    <td>26Kg</td>
    <td>10Kg</td>
    <td>25Lit</td>
  </tr>
  </table> --}}
</body>
<button style="width:1000px;margin-top:200px;margin-left:1990px;font-size:100px" type="button" value="Submit"onClick= {{action "Transactions"}}>My Transactions</button>
</div>