 
  <div class='row'>
    <div class ="jumbotron text-center">
      <img src="assets/" alt="Fjords" style="width:100%">
       <h1 >Transactions</h1>
       </div>
       </div>
   <div class="row">
    <div class="col-sm-2">
      <div class="thumbnail">
          <img src="assets/tra.jpg" alt="Lights">
          <div class="caption">
            </div>
          </div>
          </div>
</div>      
   <div class="row">
    <div class="col-sm-4">
   <h1><button {{action "central"}}>Central</button></h1>
   </div>
    <div class="col-sm-4">
    <h1><button  {{action "State"}}>State</button></h1>
    </div>
  <div class="col-sm-4">
   <h1> <button  {{action "Rationshop"}}>Ration Shop</button></h1>
</div>
  </div> 
  {{!-- {{#link-to 'screen4' invokeAction=(action 'central')}}
  Link to other route
{{/link-to}} --}}



