
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="row">
   <div class="jumbotron text-center">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="assets/images/TamilNadu.png" style="width: 1400px;

    margin-top: 6px;margin-left: -1000px;"/></a>
    </div>
    </div>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
       <h1 style="color:white;margin-right:330px;font-size: 200px;margin-top: 150px;margin-left: 151px;">Transactions</h1>
      </ul>
    </div>
    <div class="container">
        <br>

      <body>
           <a class="navbar-brand" href="#"><img src="assets/images.jpg" style="width: 400%;margin-bottom:500px;margin-top: 200px;"></a>
     
     </body>
</div>      
    <br>
</div>    
    <div class="btn-group-horizontal">
    <br>
    <br>
    <br>
    <br>
    <button style="margin-left:1330px;margin-top:20px;font-size:150px;margin-bottom: -2000px;justify-content:center"type="button" class="btn btn-primary;background-position: 405% 25%;"onClick= {{action "central"}}>Central</button>
    <button style="margin-left:500px;margin-top:20px;font-size:150px;margin-bottom: -2000px;"type="button" class="btn btn-primary;background-position: 405% 25%;"onClick= {{action "State"}}>State</button>
    <button style="margin-left:500px;margin-top:20px;font-size:150px;margin-bottom: -2000px;"type="button" class="btn btn-primary;background-position: 500% 25%;"onClick= {{action "Rationshop"}}>Ration Shop</button>

  </div> 
  {{!-- {{#link-to 'screen4' invokeAction=(action 'central')}}
  Link to other route
{{/link-to}} --}}
  </div>


