<meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

 

<div class="container">

  <div class="row">

    <div class="col-sm-4">

        <div class="Jumbotron text-center">

<h1 class="Jumbotron" style="font-size:60px;">My Transactions</h1>

<br>

<br>

<br>

<div>

<h1 style="font-size:50px;">Transaction Details</h1>

</div>

<br>

<br>

<br>

<br>


 <div>

       <p>

            <label style="font-size=50px" >Select Month</label>

            <select style="font-size:20px;margin-left:10px" id = "myList">

              <option value = "Select">Select--</option>

                <option value = "January">January</option>

              <option value = "Feburary">Feburary</option>

              <option value = "March">March</option>

              <option value = "April">April</option>

              <option value = "May">May</option>

              <option value = "June">June</option>

              <option value = "July">July</option>

              <option value = "August">August</option>

              <option value = "September">September</option>

              <option value = "October">October</option>

              <option value = "November">November</option>

              <option value = "December">December</option>

            </select>

         </p>

 </div>

<br>

<div>
  <div class='row'>
    <div class='col-sm-8'>
<table style="font-size:25px;width:50%"id="t01">

  <tr>

    <th>SI.no</th>

    <th>Items</th> 

    <th>Price</th>

  </tr>

  <tr>

    <td>1.</td>

    <td>Rice</td>

    <td>100</td>

  </tr>

  <tr>

    <td>2.</td>

    <td>Kerosene</td>

    <td>40</td>

  </tr>

  <tr>

    <td>3.</td>

    <td>Wheat</td>

    <td>30</td>

  </tr>

  <tr>

    <td></td>

    <td>Total</td>

    <td>170</td>

  </tr>

</table>




<button  style="font-size: 10px; margin-left: 2px;" type="button" >Sign Out</button>
    </div>
  </div>
</div>


</div>
</div>
</div>
</div>