<body style="margin-top: 190px;"></body>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!--
   you can substitue the span of reauth email for a input with the email and
   include the remember me checkbox
   -->
   <div class="container">
       <div class="card card-container">
           <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
           <img id="profile-img" class="profile-img-card" src="images/india.png"/>
           <h1 style="margin-left: 78px;"align="center"> PUBLIC DISTRIBUTION SYSTEM</h1>
           <br>
           <br>
           

           <p id="profile-name" class="profile-name-card"></p>
           <form class="form-signin">
               <span id="reauth-email" class="reauth-email"></span>
               <input style= "margin-left: 310px;width: 52%" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
               <input style= "margin-left: 310px;width: 52%" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
               <fieldset>
          <p>
            <label style= "margin-left: 310px;width: 52%;font-size: x-large;">Select State</label>
            <select style="margin-left: -410px;font-size: x-large;" id = "myList">
              <option value = "select">select--</option>
                <option value = "Tamil Nadu">Tamil Nadu</option>
              <option value = "Andhra Pradesh">Andhra Pradesh</option>
              <option value = "Kerala">Kerala</option>
              <option value = "Karnataka">Karnataka</option>
              <option value = "Maharastra">Maharastra</option>
              <option value = "Rajasthan">Rajasthan</option>
              <option value = "Delhi">Delhi</option>
            </select>
         </p>
      </fieldset>
                              <div id="remember" class="checkbox">
                   <label style="margin-left: 500px;font-size: 17px;">
                       <input type="checkbox" value="remember-me"> Remember me
                   </label>
               </div>
               {{!-- {{ <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button> --}}
           <button style="width: 15%;margin-left: 500px;" type="button" id="myButton" class="btn btn-primary"onClick= {{action "Sumbit"}}>Submit</button>
           </form><!-- /form -->
           <a style="margin-left: 500px;font-size: 17px;"href="#" class="forgot-password">
               Forgot the password?
           </a>
       </div><!-- /card-container -->
   </div><!-- /container -->