<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
<head>
<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<div class="navbar navbar-inverse navbar-fixed-top">
<div class="container">
  <div class="row">
   <div class="jumbotron text-center">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#"><img src="images/download.png" style="width: 250px;
  margin-top: 25px;margin-left: -1500px;"/></a>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="container">
     <h1 style="color:white;margin-right:50px;font-size: 215px;margin-top: 50px;margin-left: 151px;margin-bottom:250px">TNPDS </h1>
    </ul>
  </div>
  </div>
  </div>
  <br>
  <br>
</div>
</div>
<div>
<body>
<marquee scrollamount="100"
direction="left"
behavior="scroll">
<img src="assets/ration.jpg" style= margin-top:250px>
<img src="assets/PEOPLE.jpeg" style= margin-top:250px;width:1069px>
<img src="assets/rice.jpeg" style= margin-top:250px;width:1274px>
</marquee>
        

</body>

<html>
<head>
   


<style>
.button {
   background-color: #4CAF50;
   border: none;
   color: white;
   padding: 10px 25px;
   margin-top :21px;
    font-size: 100px;
    display: inline-block;
   cursor: pointer;
}

.button:hover {
   background: green;
}
</style>
</head>
<p>
<body>



<button style="margin-left:1200px;text-align:center;width:15%" class="button">Profile</button>


<style>


.button:hover {
   background: green;
}
</style>
<button style="margin-left:1000px; width:15%;text-align:center" class="button"onClick= {{action "transactions"}}>Transactions</button>
</body>
<style>
.button:hover {
   background: green;
}
</style>
</p>
<p>
<button style="margin-left:1200px;width:15%;text-align:center"class="button">Works</button>

<style>

.button:hover {
   background: green;
}
</style>
<button style="margin-left:1000px;width:15%;text-align:center" class="button">quantity</button>

<style>


.button:hover {
   background: green;
}
</style>
<button style="margin-left:2100px;text-align:center" class="button">feedback & help</button>
</p>

</html>

</div>
