
  <div class="jumbotron text-center">
       <img src="assets/images.jpg" class="img-circle" alt="Cinque Terre" width="304" height="236"> 
     <h1>TNPDS </h1>
   
  </div>

<div class="row">
  <div class = "col-md-12">
<marquee scrollamount="50"
direction="left"
behavior="scroll">

<img src="assets/PEOPLE.jpeg"> 
<img src="assets/rice.jpeg" >
</marquee>
</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
  
    <h1><button  class="button">Profile</button></h1>
    </div>
    <div class="col-md-4">
     
   <h1><button  class="button" {{action "transactions"}}>Transactions</button></h1>
    </div>
    <div class="col-md-4">
  
    <h1> <button class="button">Works</button> </h1>     
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class =" col-md-4">
<h1><button>quantity</button></h1>
    </div>
      <div class =" col-md-4">
<h1><button class="button">feedback & help</button></h1>
    </div>
  </div>
  </div>