  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>




   <div class="container">
     <div class="row"style="margin-left:100px;font-size:20px">
    <div class="jumbotron text-center"style="font-size:200px;margin-left=250px">
           <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
           <img  id="profile-img" class="profile-img-card" src="/assets/india.jpeg"/>
           <h1> PUBLIC DISTRIBUTION SYSTEM</h1>
         </div>
     <div class="row"style="margin-left:150px">
    <div class="col-sm-4">
           <p id="profile-name" class="profile-name-card"></p>
           <form class="form-signin
           
           
           
           
           ">
               <span  id="reauth-email" class="reauth-email"></span>
               <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
               
               <input  type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            </form>   
          <p>
            <label >Select State</label>
            <select  id="myList">
              <option value = "select">select--</option>
                <option value = "Tamil Nadu">Tamil Nadu</option>
              <option value = "Andhra Pradesh">Andhra Pradesh</option>
              <option value = "Kerala">Kerala</option>
              <option value = "Karnataka">Karnataka</option>
              <option value = "Maharastra">Maharastra</option>
              <option value = "Rajasthan">Rajasthan</option>
              <option value = "Delhi">Delhi</option>
            </select>
         </p>
      </div>
      </div>
      </div>
          <div id="remember" class="checkbox">
                   <label>
                       <input type="checkbox"value= "remember-me"> Remember me
                   </label>
               </div>
               {{!-- {{ <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button> --}}
           <button  type="button" id="myButton"class="btn btn-primary"onClick= {{action "Sumbit"}}>Submit</button>
           <!-- /form -->
           <a href="#" class="forgot-password">
               Forgot the password?
           </a>
       </div><!-- /card-container -->
   <!-- /container -->
   
     
    <div>
      
 
<body background="images/download.png;background-repeat:initial">
   <marquee scrollamount="50"
direction="up"
behavior="scroll">
<img src="assets/agriculturemain.jpg" style= "margin-top:-100px;width:1100px">
<br>
<img src="assets/image.jpeg" style= "margin-top:5px;width:1100px">
<br>
<img src="assets/fruitvegetables.png" style= "margin-top:25px;width:1100px">
</marquee>
</body>
</div>
<br>
<br>
<br>
<div>
<body background="images/download.png;background-repeat:initial">
   <marquee scrollamount="50"
direction="up"
behavior="scroll">
<img src="assets/ker.jpg">
<br>
<img src="assets/cu.jpeg" >
<br>
<img src="assets/rice.jpeg" >
</marquee>
  </body>      
</div>
    
