<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{{!-- <div>

    <div class="jumbotron text-center">

</div>
   --}}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
        <div class="Jumbotron">
<body>
<h1 style="margin-right:100px;font-size: 60px;margin-top:15px;margin-left: 300px;margin-bottom:20px">Ration Shop</h1>

<h2 style="margin-right:30px;font-size: 40px;margin-top: 35px;margin-left: 40px">Stocks Recieved(in kg/lit)</h2>
<form>
  Rice:
  <input type="number" name="rice">
  <br>
<br>
  
  Wheat:
  <input type="number" name="wheat">
<br>
<br>
  Kerosene:
  <input type="number" name="kerosene">
  <br>
  <br>
</form>


  
 <br>
 <h2 style="margin-right:30px;font-size: 40px;margin-top: 35px;margin-left: 40px">Stocks Available(in kg/lit)</h2>

<form>
  Rice:
  <input type="number" name="rice">
  <br>
<br>
  
  Wheat:
  <input type="number" name="wheat">
<br>
<br>
  Kerosene:
  <input type="number" name="kerosene">
  <br>
  </form>
  <br>
<button type="submit" form="form1" value="Submit">Submit</button>
</body>
</div>
</div>
</div>
</div>