<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <div class="row">
   <div class="jumbotron text-center">
      <a class="navbar-brand" href="#"><img src="assets/images/TamilNadu.png" style="width: 10px;
    margin-top: 25px;margin-left: -1500px;"/></a>
       <h1 >Quantity </h1>
      </div>
      </div>


 <h3 style="text-align: center;color:orange;margin-right:50px;font-size: 95px;margin-top: 50px;margin-left: 15px;margin-bottom:25px">State</h3>

         
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Quantity</th>
        <th>Wheat</th>
        <th>Rice</th>
        <th>Kerosene</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>300Kg</td>
        <td>100Kg</td>
        <td>60kg</td>
        <td>100Lit</td>
      </tr>
      <tr>
       <td>100Kg</td>
    <td>45Kg</td>
       <td>11Kg</td>
    <td>50Lit</td>
      </tr>
    </tbody>
  </table>


<button  {{action "Transactions"}}>My Transactions</button>

